@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  @include mixins.margin-top(1);

  .previous {
    text-align: left;
    width: auto;

    .previousLink {
      color: hsl(var(--color-foreground));
      font-size: variables.$typography-base-font-size * 0.75;
      font-weight: 600;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: hsl(var(--color-primary));
      }

      &.disable {
        color: hsl(var(--color-muted-foreground));
        pointer-events: none;
      }
    }
  }

  .current {
    color: hsl(var(--color-muted-foreground));
    font-size: variables.$typography-base-font-size * 0.75;
    font-weight: 600;
    min-width: 64px;
    text-align: center;
  }

  .next {
    text-align: right;
    width: auto;

    .nextLink {
      color: hsl(var(--color-foreground));
      font-size: variables.$typography-base-font-size * 0.75;
      font-weight: 600;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: hsl(var(--color-primary));
      }

      &.disable {
        color: hsl(var(--color-muted-foreground));
        pointer-events: none;
      }
    }
  }
}
